---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio - Francisco Costanzo">
  <!-- <section class="intro-section">
    <div class="experience">
      <h2>Mi experiencia en:</h2>
      <div class="buttons">
        <button>Programación</button>
        <button>Diseño Gráfico</button>
      </div>
    </div>
    <div class="intro-message">
      <h1>Hola, soy Francisco Costanzo</h1>
      <p>Soy un programador y diseñador, y este es mi portfolio. Los invito a explorar detenidamente mis proyectos.</p>
      <p>A lo largo de mi vida, siempre he sido un entusiasta de la tecnología y la programación. Mi interés por alcanzar a más usuarios de manera efectiva me llevó a aprender diseño, con el objetivo de expresar ideas y productos de manera efectiva para negocios y software específicos. Siempre busco imprimir mi propia impronta y considerar el contexto único de cada cliente.</p>
    </div>
  </section> -->
</Layout>

<style lang="scss">
  .intro-section {
    padding: 2rem;
    background-color: #f5f6f6;
    text-align: center;
    color: #424748;

    .experience {
        display: flex;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          background-color: #3498db;
          color: white;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #2980b9;
          }
        }
      }
    }

    .intro-message {
      max-width: 800px;
      margin: 0 auto;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
      }
    }
  }
</style>
