$color-nevada: (
  50: #f5f6f6,
  100: #e5e8e8,
  200: #ced3d3,
  300: #abb4b5,
  400: #818d8f,
  500: #626d6f,
  600: #576063,
  700: #4b5153,
  800: #424748,
  900: #3a3e3f,
  950: #242728,
  shadow: #2427284d,
);

@function color-nevada($shade) {
  @return map-get($color-nevada, $shade);
}

.link-card {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1px;
  background-size: 400%;
  border-radius: 7px;
  width: 350px;
  text-decoration: none;
  line-height: 1.4;
  padding: calc(1.5rem - 1px);
  color: color-nevada(900);
  background-color: color-nevada(50);
  opacity: 0.9;
  box-shadow: inset 0 0 0 1px color-nevada(400);
  cursor: pointer;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    color: color-nevada(900);
  }

  h3 {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: color-nevada(500);
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: color-nevada(700);
  }

  .card-image {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      transition: 0.2s ease;
      &:hover {
        scale: 1.1;
      }

      svg {
        width: 100%;
        height: auto;
        stroke: color-nevada(600);
      }
    }
  }
}